* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.boxUsurario {
  background-color: #9effdf;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.usurario {
  background-color: #06dfdf;
  width: 80%;
  max-width: 600px;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 8px 2px #01545498;
  border-radius: 30px;
}
.usuario_info {
  font-size: 28px;
  color: #042424;
}

.nomeUsuario {
  text-decoration: underline;
}
